body {
    width: 100%;
    height: 100%;
    -moz-width: 100%;
    -moz-height: 100%;
    -ms-width: 100%;
    -ms-height: 100%;
    -webkit-width: 100%;
    -webkit-height: 100%;
}

.pic1 img {
    width: 252px;
    height: 234px;
    -moz-width: 252px;
    -moz-height: 234px;
    -ms-width: 252px;
    -ms-height: 234px;
    -webkit-width: 252px;
    -webkit-height: 234px;
}

#footer {
    background-color: #cfe0a3;
    color: white;
    height: 90px;
    display: block;
    -moz-background-color: #cfe0a3;
    -moz-color: white;
    -moz-height: 90px;
    -moz-display: block;
    -ms-background-color: #cfe0a3;
    -ms-color: white;
    -ms-height: 90px;
    -ms-display: block;
    -webkit-background-color: #cfe0a3;
    -webkit-color: white;
    -webkit-height: 90px;
    -webkit-display: block;
}

#footer p {
    font-size: 13px;
    text-align: center;
    line-height: 7;
    -moz-font-size: 13px;
    -moz-text-align: center;
    -moz-line-height: 7;
    -ms-font-size: 13px;
    -ms-text-align: center;
    -ms-line-height: 7;
    -webkit-font-size: 13px;
    -webkit-text-align: center;
    -webkit-line-height: 7;
}


/* スマホサイズ  */

@media screen and (max-width: 480px) {
    #header {
        width: 100%;
        height: 90px;
        background-color: #88ab36;
        color: #fff;
        -moz-width: 100%;
        -moz-height: 90px;
        -moz-background-color: #88ab36;
        -moz-color: #fff;
        -ms-width: 100%;
        -ms-height: 90px;
        -ms-background-color: #88ab36;
        -ms-color: #fff;
        -webkit-width: 100%;
        -webkit-height: 90px;
        -webkit-background-color: #88ab36;
        -webkit-color: #fff;
    }
    #header .title {
        font-size: 23px;
        font-family: "楷体-繁", "ヒラギノ角ゴ";
        padding-top: 30px;
        padding-left: 15px;
        -webkit-font-size: 23px;
        -webkit-font-family: "楷体-繁", "ヒラギノ角ゴ";
        -webkit-padding-top: 30px;
        -webkit-padding-left: 15px;
        -ms-font-size: 23px;
        -ms-font-family: "楷体-繁", "ヒラギノ角ゴ";
        -ms-padding-top: 30px;
        -ms-padding-left: 15px;
        -moz-font-size: 23px;
        -moz-font-family: "楷体-繁", "ヒラギノ角ゴ";
        -moz-padding-top: 30px;
        -moz-padding-left: 15px;
    }
    #menubar {
        width: 100%;
        height: 47px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        padding-top: 5px;
        -webkit-width: 100%;
        -webkit-height: 47px;
        -webkit-font-size: 13px;
        -webkit-display: flex;
        -webkit-justify-content: center;
        -webkit-padding-top: 5px;
        -ms-width: 100%;
        -ms-height: 47px;
        -ms-font-size: 13px;
        -ms-display: flex;
        -ms-justify-content: center;
        -ms-padding-top: 5px;
        -moz-width: 100%;
        -moz-height: 47px;
        -moz-font-size: 13px;
        -moz-display: flex;
        -moz-justify-content: center;
        -moz-padding-top: 5px;
    }
    #menubar ul {
        display: flex;
        list-style: none;
        -moz-display: flex;
        -moz-list-style: none;
        -ms-display: flex;
        -ms-list-style: none;
        -webkit-display: flex;
        -webkit-list-style: none;
    }
    #menubar li {
        padding-top: 10px;
        padding-bottom: 10px;
        -moz-padding-top: 10px;
        -moz-padding-bottom: 10px;
        -ms-padding-top: 10px;
        -ms-padding-bottom: 10px;
        -webkit-padding-top: 10px;
        -webkit-padding-bottom: 10px;
    }
    #menubar .gap_left {
        padding-left: 50px;
        -webkit-padding-left: 50px;
        -moz-padding-left: 50px;
        -ms-padding-left: 50px;
    }
    #menubar a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: #000;
        -moz-position: relative;
        -moz-display: inline-block;
        -moz-text-decoration: none;
        -moz-color: #000;
        -ms-position: relative;
        -ms-display: inline-block;
        -ms-text-decoration: none;
        -ms-color: #000;
        -webkit-position: relative;
        -webkit-display: inline-block;
        -webkit-text-decoration: none;
        -webkit-color: #000;
    }
    #menubar a::after {
        position: absolute;
        bottom: -8px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #333;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        -moz-position: absolute;
        -moz-bottom: -8px;
        -moz-left: 0;
        -moz-content: '';
        -moz-width: 100%;
        -moz-height: 2px;
        -moz-background: #333;
        -moz-opacity: 0;
        -moz-visibility: hidden;
        -moz-transition: .3s;
        -ms-position: absolute;
        -ms-bottom: -8px;
        -ms-left: 0;
        -ms-content: '';
        -ms-width: 100%;
        -ms-height: 2px;
        -ms-background: #333;
        -ms-opacity: 0;
        -ms-visibility: hidden;
        -ms-transition: .3s;
        -webkit-position: absolute;
        -webkit-bottom: -8px;
        -webkit-left: 0;
        -webkit-content: '';
        -webkit-width: 100%;
        -webkit-height: 2px;
        -webkit-background: #333;
        -webkit-opacity: 0;
        -webkit-visibility: hidden;
        -webkit-transition: .3s;
    }
    #menubar a:hover::after {
        bottom: -4px;
        opacity: 1;
        visibility: visible;
        -moz-bottom: -4px;
        -moz-opacity: 1;
        -moz-visibility: visible;
        -ms-bottom: -4px;
        -ms-opacity: 1;
        -ms-visibility: visible;
        -webkit-bottom: -4px;
        -webkit-opacity: 1;
        -webkit-visibility: visible;
    }
    .main_title {
        font-size: 27px;
        color: #ffb62f;
        padding-top: 15px;
        padding-left: 15px;
        -moz-font-size: 27px;
        -moz-color: #ffb62f;
        -moz-padding-top: 15px;
        -moz-padding-left: 15px;
        -ms-font-size: 27px;
        -ms-color: #ffb62f;
        -ms-padding-top: 15px;
        -ms-padding-left: 15px;
        -webkit-font-size: 27px;
        -webkit-color: #ffb62f;
        -webkit-padding-top: 15px;
        -webkit-padding-left: 15px;
    }
    .main_1_title {
        font-size: 18px;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 15px;
        -moz-font-size: 18px;
        -moz-font-weight: bold;
        -moz-padding-top: 15px;
        -moz-padding-bottom: 10px;
        -moz-padding-left: 15px;
        -ms-font-size: 18px;
        -ms-font-weight: bold;
        -ms-padding-top: 15px;
        -ms-padding-bottom: 10px;
        -ms-padding-left: 15px;
        -webkit-font-size: 18px;
        -webkit-font-weight: bold;
        -webkit-padding-top: 15px;
        -webkit-padding-bottom: 10px;
        -webkit-padding-left: 15px;
    }
    .back_color {
        background-color: #f4f0ca;
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 35px;
        padding-left: 10px;
        -moz-background-color: #f4f0ca;
        -moz-padding-top: 15px;
        -moz-padding-right: 15px;
        -moz-padding-bottom: 35px;
        -moz-padding-left: 10px;
        -ms-background-color: #f4f0ca;
        -ms-padding-top: 15px;
        -ms-padding-right: 15px;
        -ms-padding-bottom: 35px;
        -ms-padding-left: 10px;
        -webkit-background-color: #f4f0ca;
        -webkit-padding-top: 15px;
        -webkit-padding-right: 15px;
        -webkit-padding-bottom: 35px;
        -webkit-padding-left: 10px;
    }
    .pic1 {
        padding-left: 15px;
        -webkit-padding-left: 15px;
        -moz-padding-left: 15px;
        -ms-padding-left: 15px;
    }
    .main_sentense {
        padding-right: 8px;
        padding-left: 8px;
        -webkit-padding-right: 8px;
        -webkit-padding-left: 8px;
        -moz-padding-right: 8px;
        -moz-padding-left: 8px;
        -ms-padding-right: 8px;
        -ms-padding-left: 8px;
    }
    li {
        padding-left: 15px;
        -webkit-padding-left: 15px;
        -ms-padding-left: 15px;
        -moz-padding-left: 15px;
    }
    .menu p {
        padding: 15px;
        -webkit-padding: 15px;
        -moz-padding: 15px;
        -ms-padding: 15px;
    }
}


/* スマホサイズ終わり  */


/* タブレットサイズ */

@media screen and (max-width: 896px) {
    #header {
        width: 100%;
        height: 90px;
        background-color: #88ab36;
        color: #fff;
        -moz-width: 100%;
        -moz-height: 90px;
        -moz-background-color: #88ab36;
        -moz-color: #fff;
        -ms-width: 100%;
        -ms-height: 90px;
        -ms-background-color: #88ab36;
        -ms-color: #fff;
        -webkit-width: 100%;
        -webkit-height: 90px;
        -webkit-background-color: #88ab36;
        -webkit-color: #fff;
    }
    #header .title {
        font-size: 23px;
        font-family: "楷体-繁", "ヒラギノ角ゴ";
        padding-top: 30px;
        padding-left: 15px;
        -webkit-font-size: 23px;
        -webkit-font-family: "楷体-繁", "ヒラギノ角ゴ";
        -webkit-padding-top: 30px;
        -webkit-padding-left: 15px;
        -ms-font-size: 23px;
        -ms-font-family: "楷体-繁", "ヒラギノ角ゴ";
        -ms-padding-top: 30px;
        -ms-padding-left: 15px;
        -moz-font-size: 23px;
        -moz-font-family: "楷体-繁", "ヒラギノ角ゴ";
        -moz-padding-top: 30px;
        -moz-padding-left: 15px;
    }
    .flex {
        display: flex;
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
    }
    #menubar {
        width: 100%;
        height: 47px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        padding-top: 5px;
        -webkit-width: 100%;
        -webkit-height: 47px;
        -webkit-display: flex;
        -webkit-justify-content: center;
        -webkit-padding-top: 5px;
        -ms-width: 100%;
        -ms-height: 47px;
        -ms-font-size: 13px;
        -ms-display: flex;
        -ms-justify-content: center;
        -ms-padding-top: 5px;
        -moz-width: 100%;
        -moz-height: 47px;
        -moz-font-size: 13px;
        -moz-display: flex;
        -moz-justify-content: center;
        -moz-padding-top: 5px;
    }
    #menubar ul {
        display: flex;
        list-style: none;
        -moz-display: flex;
        -moz-list-style: none;
        -ms-display: flex;
        -ms-list-style: none;
        -webkit-display: flex;
        -webkit-list-style: none;
    }
    #menubar li {
        padding-top: 10px;
        padding-bottom: 10px;
        -moz-padding-top: 10px;
        -moz-padding-bottom: 10px;
        -ms-padding-top: 10px;
        -ms-padding-bottom: 10px;
        -webkit-padding-top: 10px;
        -webkit-padding-bottom: 10px;
    }
    #menubar .gap_left {
        padding-left: 100px;
        -webkit-padding-left: 100px;
        -moz-padding-left: 100px;
        -ms-padding-left: 100px;
    }
    #menubar a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: #000;
        -moz-position: relative;
        -moz-display: inline-block;
        -moz-text-decoration: none;
        -moz-color: #000;
        -ms-position: relative;
        -ms-display: inline-block;
        -ms-text-decoration: none;
        -ms-color: #000;
        -webkit-position: relative;
        -webkit-display: inline-block;
        -webkit-text-decoration: none;
        -webkit-color: #000;
    }
    #menubar a::after {
        position: absolute;
        bottom: -8px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #333;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        -moz-position: absolute;
        -moz-bottom: -8px;
        -moz-left: 0;
        -moz-content: '';
        -moz-width: 100%;
        -moz-height: 2px;
        -moz-background: #333;
        -moz-opacity: 0;
        -moz-visibility: hidden;
        -moz-transition: .3s;
        -ms-position: absolute;
        -ms-bottom: -8px;
        -ms-left: 0;
        -ms-content: '';
        -ms-width: 100%;
        -ms-height: 2px;
        -ms-background: #333;
        -ms-opacity: 0;
        -ms-visibility: hidden;
        -ms-transition: .3s;
        -webkit-position: absolute;
        -webkit-bottom: -8px;
        -webkit-left: 0;
        -webkit-content: '';
        -webkit-width: 100%;
        -webkit-height: 2px;
        -webkit-background: #333;
        -webkit-opacity: 0;
        -webkit-visibility: hidden;
        -webkit-transition: .3s;
    }
    .back_color {
        background-color: #f4f0ca;
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 35px;
        padding-left: 10px;
        -moz-background-color: #f4f0ca;
        -moz-padding-top: 15px;
        -moz-padding-right: 15px;
        -moz-padding-bottom: 35px;
        -moz-padding-left: 10px;
        -ms-background-color: #f4f0ca;
        -ms-padding-top: 15px;
        -ms-padding-right: 15px;
        -ms-padding-bottom: 35px;
        -ms-padding-left: 10px;
        -webkit-background-color: #f4f0ca;
        -webkit-padding-top: 15px;
        -webkit-padding-right: 15px;
        -webkit-padding-bottom: 35px;
        -webkit-padding-left: 10px;
    }
    .main_title {
        font-size: 27px;
        color: #ffb62f;
        padding-top: 15px;
        padding-left: 15px;
        -moz-font-size: 27px;
        -moz-color: #ffb62f;
        -moz-padding-top: 15px;
        -moz-padding-left: 15px;
        -ms-font-size: 27px;
        -ms-color: #ffb62f;
        -ms-padding-top: 15px;
        -ms-padding-left: 15px;
        -webkit-font-size: 27px;
        -webkit-color: #ffb62f;
        -webkit-padding-top: 15px;
        -webkit-padding-left: 15px;
    }
    .main_1_title {
        font-size: 18px;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 15px;
        -moz-font-size: 18px;
        -moz-font-weight: bold;
        -moz-padding-top: 15px;
        -moz-padding-bottom: 10px;
        -moz-padding-left: 15px;
        -ms-font-size: 18px;
        -ms-font-weight: bold;
        -ms-padding-top: 15px;
        -ms-padding-bottom: 10px;
        -ms-padding-left: 15px;
        -webkit-font-size: 18px;
        -webkit-font-weight: bold;
        -webkit-padding-top: 15px;
        -webkit-padding-bottom: 10px;
        -webkit-padding-left: 15px;
    }
    .pic1 {
        padding-left: 15px;
        -webkit-padding-left: 15px;
        -moz-padding-left: 15px;
        -ms-padding-left: 15px;
    }
    .main_sentense {
        padding-right: 8px;
        padding-left: 8px;
        -webkit-padding-right: 8px;
        -webkit-padding-left: 8px;
        -moz-padding-right: 8px;
        -moz-padding-left: 8px;
        -ms-padding-right: 8px;
        -ms-padding-left: 8px;
    }
    li {
        padding-left: 15px;
        -webkit-padding-left: 15px;
        -ms-padding-left: 15px;
        -moz-padding-left: 15px;
    }
    .menu p {
        padding: 15px;
        -webkit-padding: 15px;
        -moz-padding: 15px;
        -ms-padding: 15px;
    }
}


/* タブレットサイズ終わり */


/* PCサイズ */

@media screen and (max-width: 1024px) {
    #header {
        width: 100%;
        height: 90px;
        background-color: #88ab36;
        color: #fff;
        -moz-width: 100%;
        -moz-height: 90px;
        -moz-background-color: #88ab36;
        -moz-color: #fff;
        -ms-width: 100%;
        -ms-height: 90px;
        -ms-background-color: #88ab36;
        -ms-color: #fff;
        -webkit-width: 100%;
        -webkit-height: 90px;
        -webkit-background-color: #88ab36;
        -webkit-color: #fff;
    }
    #header .title {
        font-size: 23px;
        font-family: "楷体-繁", "ヒラギノ角ゴ";
        padding-top: 30px;
        padding-left: 15px;
        -webkit-font-size: 23px;
        -webkit-font-family: "楷体-繁", "ヒラギノ角ゴ";
        -webkit-padding-top: 30px;
        -webkit-padding-left: 15px;
        -ms-font-size: 23px;
        -ms-font-family: "楷体-繁", "ヒラギノ角ゴ";
        -ms-padding-top: 30px;
        -ms-padding-left: 15px;
        -moz-font-size: 23px;
        -moz-font-family: "楷体-繁", "ヒラギノ角ゴ";
        -moz-padding-top: 30px;
        -moz-padding-left: 15px;
    }
    #menubar {
        width: 100%;
        height: 47px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        padding-top: 5px;
        -webkit-width: 100%;
        -webkit-height: 47px;
        -webkit-font-size: 13px;
        -webkit-display: flex;
        -webkit-justify-content: center;
        -webkit-padding-top: 5px;
        -ms-width: 100%;
        -ms-height: 47px;
        -ms-font-size: 13px;
        -ms-display: flex;
        -ms-justify-content: center;
        -ms-padding-top: 5px;
        -moz-width: 100%;
        -moz-height: 47px;
        -moz-font-size: 13px;
        -moz-display: flex;
        -moz-justify-content: center;
        -moz-padding-top: 5px;
    }
    #menubar ul {
        display: flex;
        list-style: none;
        -moz-display: flex;
        -moz-list-style: none;
        -ms-display: flex;
        -ms-list-style: none;
        -webkit-display: flex;
        -webkit-list-style: none;
    }
    #menubar li {
        padding-top: 10px;
        padding-bottom: 10px;
        -moz-padding-top: 10px;
        -moz-padding-bottom: 10px;
        -ms-padding-top: 10px;
        -ms-padding-bottom: 10px;
        -webkit-padding-top: 10px;
        -webkit-padding-bottom: 10px;
    }
    #menubar .gap_left {
        padding-left: 50px;
        -webkit-padding-left: 50px;
        -moz-padding-left: 50px;
        -ms-padding-left: 50px;
    }
    #menubar a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: #000;
        -moz-position: relative;
        -moz-display: inline-block;
        -moz-text-decoration: none;
        -moz-color: #000;
        -ms-position: relative;
        -ms-display: inline-block;
        -ms-text-decoration: none;
        -ms-color: #000;
        -webkit-position: relative;
        -webkit-display: inline-block;
        -webkit-text-decoration: none;
        -webkit-color: #000;
    }
    #menubar a::after {
        position: absolute;
        bottom: -8px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #333;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        -moz-position: absolute;
        -moz-bottom: -8px;
        -moz-left: 0;
        -moz-content: '';
        -moz-width: 100%;
        -moz-height: 2px;
        -moz-background: #333;
        -moz-opacity: 0;
        -moz-visibility: hidden;
        -moz-transition: .3s;
        -ms-position: absolute;
        -ms-bottom: -8px;
        -ms-left: 0;
        -ms-content: '';
        -ms-width: 100%;
        -ms-height: 2px;
        -ms-background: #333;
        -ms-opacity: 0;
        -ms-visibility: hidden;
        -ms-transition: .3s;
        -webkit-position: absolute;
        -webkit-bottom: -8px;
        -webkit-left: 0;
        -webkit-content: '';
        -webkit-width: 100%;
        -webkit-height: 2px;
        -webkit-background: #333;
        -webkit-opacity: 0;
        -webkit-visibility: hidden;
        -webkit-transition: .3s;
    }
    #menubar a:hover::after {
        bottom: -4px;
        opacity: 1;
        visibility: visible;
        -moz-bottom: -4px;
        -moz-opacity: 1;
        -moz-visibility: visible;
        -ms-bottom: -4px;
        -ms-opacity: 1;
        -ms-visibility: visible;
        -webkit-bottom: -4px;
        -webkit-opacity: 1;
        -webkit-visibility: visible;
    }
    .main_title {
        font-size: 27px;
        color: #ffb62f;
        padding-top: 15px;
        padding-left: 15px;
        -moz-font-size: 27px;
        -moz-color: #ffb62f;
        -moz-padding-top: 15px;
        -moz-padding-left: 15px;
        -ms-font-size: 27px;
        -ms-color: #ffb62f;
        -ms-padding-top: 15px;
        -ms-padding-left: 15px;
        -webkit-font-size: 27px;
        -webkit-color: #ffb62f;
        -webkit-padding-top: 15px;
        -webkit-padding-left: 15px;
    }
    .main_1_title {
        font-size: 18px;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 15px;
        -moz-font-size: 18px;
        -moz-font-weight: bold;
        -moz-padding-top: 15px;
        -moz-padding-bottom: 10px;
        -moz-padding-left: 15px;
        -ms-font-size: 18px;
        -ms-font-weight: bold;
        -ms-padding-top: 15px;
        -ms-padding-bottom: 10px;
        -ms-padding-left: 15px;
        -webkit-font-size: 18px;
        -webkit-font-weight: bold;
        -webkit-padding-top: 15px;
        -webkit-padding-bottom: 10px;
        -webkit-padding-left: 15px;
    }
    .back_color {
        background-color: #f4f0ca;
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 35px;
        padding-left: 10px;
        -moz-background-color: #f4f0ca;
        -moz-padding-top: 15px;
        -moz-padding-right: 15px;
        -moz-padding-bottom: 35px;
        -moz-padding-left: 10px;
        -ms-background-color: #f4f0ca;
        -ms-padding-top: 15px;
        -ms-padding-right: 15px;
        -ms-padding-bottom: 35px;
        -ms-padding-left: 10px;
        -webkit-background-color: #f4f0ca;
        -webkit-padding-top: 15px;
        -webkit-padding-right: 15px;
        -webkit-padding-bottom: 35px;
        -webkit-padding-left: 10px;
    }
    .pic1 {
        padding-left: 15px;
        -webkit-padding-left: 15px;
        -moz-padding-left: 15px;
        -ms-padding-left: 15px;
    }
    .main_sentense {
        padding-right: 8px;
        padding-left: 8px;
        -webkit-padding-right: 8px;
        -webkit-padding-left: 8px;
        -moz-padding-right: 8px;
        -moz-padding-left: 8px;
        -ms-padding-right: 8px;
        -ms-padding-left: 8px;
    }
    li {
        padding-left: 15px;
        -webkit-padding-left: 15px;
        -ms-padding-left: 15px;
        -moz-padding-left: 15px;
    }
    .menu p {
        padding: 15px;
        -webkit-padding: 15px;
        -moz-padding: 15px;
        -ms-padding: 15px;
    }
}


/* スマホサイズ終わり  */


/* タブレットサイズ */

@media screen and (max-width: 896px) {
    #header {
        width: 100%;
        height: 90px;
        background-color: #88ab36;
        color: #fff;
        -moz-width: 100%;
        -moz-height: 90px;
        -moz-background-color: #88ab36;
        -moz-color: #fff;
        -ms-width: 100%;
        -ms-height: 90px;
        -ms-background-color: #88ab36;
        -ms-color: #fff;
        -webkit-width: 100%;
        -webkit-height: 90px;
        -webkit-background-color: #88ab36;
        -webkit-color: #fff;
    }
    #header .title {
        font-size: 23px;
        font-family: "楷体-繁", "ヒラギノ角ゴ";
        padding-top: 30px;
        padding-left: 15px;
        -webkit-font-size: 23px;
        -webkit-font-family: "楷体-繁", "ヒラギノ角ゴ";
        -webkit-padding-top: 30px;
        -webkit-padding-left: 15px;
        -ms-font-size: 23px;
        -ms-font-family: "楷体-繁", "ヒラギノ角ゴ";
        -ms-padding-top: 30px;
        -ms-padding-left: 15px;
        -moz-font-size: 23px;
        -moz-font-family: "楷体-繁", "ヒラギノ角ゴ";
        -moz-padding-top: 30px;
        -moz-padding-left: 15px;
    }
    .flex {
        display: flex;
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
    }
    #menubar {
        width: 100%;
        height: 47px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        padding-top: 5px;
        -webkit-width: 100%;
        -webkit-height: 47px;
        -webkit-display: flex;
        -webkit-justify-content: center;
        -webkit-padding-top: 5px;
        -ms-width: 100%;
        -ms-height: 47px;
        -ms-font-size: 13px;
        -ms-display: flex;
        -ms-justify-content: center;
        -ms-padding-top: 5px;
        -moz-width: 100%;
        -moz-height: 47px;
        -moz-font-size: 13px;
        -moz-display: flex;
        -moz-justify-content: center;
        -moz-padding-top: 5px;
    }
    #menubar ul {
        display: flex;
        list-style: none;
        -moz-display: flex;
        -moz-list-style: none;
        -ms-display: flex;
        -ms-list-style: none;
        -webkit-display: flex;
        -webkit-list-style: none;
    }
    #menubar li {
        padding-top: 10px;
        padding-bottom: 10px;
        -moz-padding-top: 10px;
        -moz-padding-bottom: 10px;
        -ms-padding-top: 10px;
        -ms-padding-bottom: 10px;
        -webkit-padding-top: 10px;
        -webkit-padding-bottom: 10px;
    }
    #menubar .gap_left {
        padding-left: 200px;
        -webkit-padding-left: 200px;
        -moz-padding-left: 200px;
        -ms-padding-left: 200px;
    }
    #menubar a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: #000;
        -moz-position: relative;
        -moz-display: inline-block;
        -moz-text-decoration: none;
        -moz-color: #000;
        -ms-position: relative;
        -ms-display: inline-block;
        -ms-text-decoration: none;
        -ms-color: #000;
        -webkit-position: relative;
        -webkit-display: inline-block;
        -webkit-text-decoration: none;
        -webkit-color: #000;
    }
    #menubar a::after {
        position: absolute;
        bottom: -8px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #333;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        -moz-position: absolute;
        -moz-bottom: -8px;
        -moz-left: 0;
        -moz-content: '';
        -moz-width: 100%;
        -moz-height: 2px;
        -moz-background: #333;
        -moz-opacity: 0;
        -moz-visibility: hidden;
        -moz-transition: .3s;
        -ms-position: absolute;
        -ms-bottom: -8px;
        -ms-left: 0;
        -ms-content: '';
        -ms-width: 100%;
        -ms-height: 2px;
        -ms-background: #333;
        -ms-opacity: 0;
        -ms-visibility: hidden;
        -ms-transition: .3s;
        -webkit-position: absolute;
        -webkit-bottom: -8px;
        -webkit-left: 0;
        -webkit-content: '';
        -webkit-width: 100%;
        -webkit-height: 2px;
        -webkit-background: #333;
        -webkit-opacity: 0;
        -webkit-visibility: hidden;
        -webkit-transition: .3s;
    }
    .back_color {
        background-color: #f4f0ca;
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 35px;
        padding-left: 10px;
        -moz-background-color: #f4f0ca;
        -moz-padding-top: 15px;
        -moz-padding-right: 15px;
        -moz-padding-bottom: 35px;
        -moz-padding-left: 10px;
        -ms-background-color: #f4f0ca;
        -ms-padding-top: 15px;
        -ms-padding-right: 15px;
        -ms-padding-bottom: 35px;
        -ms-padding-left: 10px;
        -webkit-background-color: #f4f0ca;
        -webkit-padding-top: 15px;
        -webkit-padding-right: 15px;
        -webkit-padding-bottom: 35px;
        -webkit-padding-left: 10px;
    }
    .main_title {
        font-size: 27px;
        color: #ffb62f;
        padding-top: 15px;
        padding-left: 15px;
        -moz-font-size: 27px;
        -moz-color: #ffb62f;
        -moz-padding-top: 15px;
        -moz-padding-left: 15px;
        -ms-font-size: 27px;
        -ms-color: #ffb62f;
        -ms-padding-top: 15px;
        -ms-padding-left: 15px;
        -webkit-font-size: 27px;
        -webkit-color: #ffb62f;
        -webkit-padding-top: 15px;
        -webkit-padding-left: 15px;
    }
    .main_1_title {
        font-size: 18px;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 15px;
        -moz-font-size: 18px;
        -moz-font-weight: bold;
        -moz-padding-top: 15px;
        -moz-padding-bottom: 10px;
        -moz-padding-left: 15px;
        -ms-font-size: 18px;
        -ms-font-weight: bold;
        -ms-padding-top: 15px;
        -ms-padding-bottom: 10px;
        -ms-padding-left: 15px;
        -webkit-font-size: 18px;
        -webkit-font-weight: bold;
        -webkit-padding-top: 15px;
        -webkit-padding-bottom: 10px;
        -webkit-padding-left: 15px;
    }
    .pic1 {
        padding-left: 15px;
        -webkit-padding-left: 15px;
        -moz-padding-left: 15px;
        -ms-padding-left: 15px;
    }
    .main_sentense {
        padding-right: 8px;
        padding-left: 8px;
        -webkit-padding-right: 8px;
        -webkit-padding-left: 8px;
        -moz-padding-right: 8px;
        -moz-padding-left: 8px;
        -ms-padding-right: 8px;
        -ms-padding-left: 8px;
    }
    li {
        padding-left: 15px;
        -webkit-padding-left: 15px;
        -ms-padding-left: 15px;
        -moz-padding-left: 15px;
    }
    .menu p {
        padding: 15px;
        -webkit-padding: 15px;
        -moz-padding: 15px;
        -ms-padding: 15px;
    }
}


/* PCサイズ終わり */